@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap');

@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('./assets/fonts/SF-Pro-Display-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('./assets/fonts/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('./assets/fonts/Inter-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('./assets/fonts/Inter-Bold.otf') format('opentype');
}

:root {
  --bs-breakpoint-xs: 0;
  /* --bs-breakpoint-sm: 576px; */
  /* --bs-breakpoint-md: 768px; */
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
  --font-sm-lite: 0.813rem;
  --font-sm: 11.5px;
  --font-med-xs: 1.2rem;
  --font-med-s: 1.25rem;
  --font-med-m: 1.3rem;
  --font-med-l: 1.4rem;
  --font-med-xl: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 2.5rem;
  --font-xl-s: 3rem;
  --font-xl-m: 4rem;
  --font-xl-l: 5rem;
  --background-color: #f2f2f2;
  --background-color-feed-btn: #e6e6e6;
  --background-color-btn: #f2f2f2;
  --text-color: #000;
  --invert-text-color: #fff;
  --input-text-color: #868885;
  --text-color-rgb: 0, 0, 0;
  --text-color-input: #c6c6c6;
  --border-color: #c6c6c6;
  --background-color-input: #ffffff0d;
  --main-color: #fff;
  --main-green: #1dcf5b;
  --ov-cont-color: #f0f0f0;
  --ma-green: #28a745;
  --ma-red: #dc3545;
  --action-grey: #707070;
  --nav-color-active: #1dcf5b;
  --z-index-low: 10;
  --z-index-med: 20;
  --z-index-high: 30;
  --main-padding: max(3rem, calc(5% + 12rem));
  --border: 0.05rem solid var(--border-color);
  --table-odd-row-bg: #f2f2f2;
  --table-even-row-bg: #fff;
  --table-hover-bg: #e0e0e0;
  --follow-btn-color: #fff;
  --follow-btn-plus-color: #1dcf5b;
  --stock-filter-btn-color: #000;
  --stock-filter-active-text: #fff;
  --stock-change-pos: #1dcf5b;
  --stock-change-neg: tomato;
  --hover-color: #f0f0f0;
  --placeholder-color: #c6c6c6;
  --settings-bg: #f2f2f2;
  --content-width: clamp(1080px, calc(100vw - var(--main-padding) * 2), 1440px);
  --stock-chart-height: 35rem;
  --background-color: #141414;
  --background-color-feed-btn: #202020;
  --main-color: #000;
  --background-color-btn: #353a36;
  --background-color-input: #ffffff0d;
  --text-color: #fff;
  --invert-text-color: #000;
  --text-color-rgb: 255, 255, 255;
  --text-color-input: #fff;
  --border-color: #353a36;
  --ov-cont-color: #353a36;
  --ma-green: #0f0;
  --ma-red: red;
  --nav-color-active: #0f0;
  --border: 0.05rem solid var(--border-color);
  --table-odd-row-bg: #353a36;
  --table-even-row-bg: #030902;
  --table-hover-bg: #4a4a4a;
  --follow-btn-color: #1dcf5b;
  --follow-btn-plus-color: #fff;
  --stock-filter-btn-color: #0f0;
  --stock-filter-active-text: #000;
  --stock-change-pos: #0f0;
  --stock-change-neg: red;
  --settings-bg: #141414;
  --hover-color: #4a4a4a;
  --placeholder-color: #c6c6c6;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

* {
  letter-spacing: .035rem !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.035rem !important;
  font-family: 'Inter Medium', sans-serif;
  font-weight: 0 !important;
}

html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

html::-webkit-scrollbar {
  display: none !important;
}

body {
  letter-spacing: 0.035rem !important;
  font-family: var(--bs-body-font-family);
  font-weight: var(--bs-body-font-weight);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

body::-webkit-scrollbar {
  display: none !important;
}

b {
  color: var(--text-color);
  font-family: 'Inter Bold', sans-serif !important;
  font-weight: bolder;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Global link styles */
a {
  color: rgba(var(--bs-link-color-rgb), 1);
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

/* Global button styles */
button {
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  appearance: button;
}

button:not(:disabled) {
  cursor: pointer;
}

/* Global image styles */
img {
  vertical-align: middle;
}