.menu-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 18px 15px 0;
}

.menu-link {
  align-items: center;
  display: flex;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-family: Inter, sans-serif !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  padding-bottom: 17px !important;
  position: relative;
  text-decoration: none;
}

.menu-link:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

.menu-link--active {
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  font-family: SF Pro Display Bold, sans-serif;
}

.menu-link--active::after {
  bottom: -2rem;
  content: "";
  display: block;
  height: 0.25rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.menu-link--disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
